<header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Get Posted</h1>
          <p class="text-center">The world needs to know about your Drip. Let them know right here.</p>
        </div>
      </div>
    </div>
  </header>
  <section class="py-3" id="blog">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
          <div class="card-columns">
            {{#each Strategy1}}
            <div class="card text-center">
              <a href="#"><img class="img-fluid card-img-top" src="./images/{{image}}" width="150px"></a>
              <card-body>
                <h4 class="card-title">{{title}}</h4><small class="text-muted">Written by {{username}}</small>
                <hr>
                <p class="card-text mb-2">
                  {{comment}}
                </p>
              </card-body>
              <div class="card-footer bg-pink">
                <div class="col"><small class="text-dark">Date Posted: {{realTime created_at}}</small></div>
                <div class="col"><small class="text-dark">Last Updated: {{realDate updated_at}}</small></div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center p-5 text-white" id="news-letter">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-dark font-weight-bold">Sign up for news letter</h1>
          <p class="text-justify">You're now part of a community that connects global designers with local artists across the world. Find a place to expose your inventory. Discover new things to do. Or share your work.</p>
          <form action="/mail" method="post" class="form-inline justify-content-center">
            <input class="form-control mb-2 mr-2" type="text" name="username" placeholder="Enter Name">
            <input class="form-control mb-2 mr-2" type="email" name="mail" placeholder="Enter Email">
            <button id="news-button" class="btn btn-primary mb-2" type="submit"> <span id="newsloading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Submit</button>
          </form>
        </div>
        <div>{{> _msg}}</div>
      </div>
    </div>
  </section>