<header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Get Posted</h1>
          <p class="text-center">The world needs to know about your Drip. Let them know right here.</p>
        </div>
      </div>
    </div>
  </header>
  <section class="py-3" id="blog">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
          <div class="card-columns">
            {{#each Strategy1}}
            <div class="card text-center">
              <a href="#"><img class="img-fluid card-img-top" src="./images/{{image}}" width="150px"></a>
              <card-body>
                <h4 class="card-title">{{title}}</h4><small class="text-muted">Written by {{username}}</small>
                <hr>
                <p class="card-text mb-2">
                  {{comment}}
                </p>
              </card-body>
              <div class="card-footer">
                <small class="text-muted">{{date}}</small>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>